# hidden settings files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea

# VS Code local settings
.vscode/

# act local config & secrets
.actrc
.secrets

# source files
src/*.o
src/*.so
src/*.dll
src/*.mod

# vignette builds
vignettes/*.html

# documentation dir
docs/

# CRAN submission archives
CRAN-SUBMISSION
docs
